* {
    /* Global Color Variables */
    --textcolor: #1E90FF;
    --bgcolor: #141414;
    --highlight: #ff1e1e;
}

.axes path {
    stroke: red;
    stroke-width: 4;
}

.axes text {
    fill: red;
    text-shadow:    -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

body { 
    min-height: 100vh; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
    justify-content: flex-start;
    align-items: center;
}

#footer {
    min-height: 50px;
    width: 100%;
    text-align: center;
    background-color: #b2c0d4;
}

#footerText {
    font-family: Sans-Serif, Helvetica, Arial; 
    line-height: 1.2;
    color: #141212;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}