svg.iss {
    display: none;
}

.axes path {
    stroke: red;
    stroke-width: 4;
}

.axes text {
    fill: red;
    text-shadow:    -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}
.header {
    min-width: 100vw;
    min-height: 100vh;
    opacity: 1;
}

.header h1 {
    text-align: center;
    font-family: Helvetica, Sans-Serif; 
    font-size: 48px;
    color: white;
}

.header p {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: Sans-Serif; 
    font-size: 1vmax;
    color: white;
}

button {
    background-color: white; 
    border: none;
    color: black;
    font-family: Helvetica, Sans-Serif; 
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

button.begin {
    margin: 0;
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, 0);
}

div.back {
    position: fixed;
    top: 2%;
    left: 1%;
    display: none;
    opacity: 0;
}

body { 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    background-color: #141414
}

.footer {
    min-height: 50px;
    width: 100%;
    text-align: center;
    background-color: #b2c0d4;
}

.footer p {
    font-family: Sans-Serif, Helvetica, Arial; 
    line-height: 1.2;
    color: #141212;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

iframe.live_feed {
    position: absolute;
    bottom: 120px;
    left: 50%;
    display: none;
    opacity: 0;
    border-radius: 8px;
    border: 2px solid white;
    transform: translate(-50%, 0%);
}

.sidebar rect {
    opacity: 0.95;
    fill: #1B2631;
}

.sidebar text.title {
    fill: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.2vw;
    text-anchor: middle;
}

.sidebar text.module_owners {
    fill: white;
    font-family: sans-serif;
    font-size: .82vw;
}

.sidebar text.module_length {
    fill: white;
    font-family: sans-serif;
    font-size: .82vw;
}

.sidebar text.module_diameter {
    fill: white;
    font-family: sans-serif;
    font-size: .82vw;
}

.sidebar text.module_mass {
    fill: white;
    font-family: sans-serif;
    font-size: .82vw;
}

.sidebar text.module_creation {
    fill: white;
    font-family: sans-serif;
    font-size: .9vw;
}

.sidebar text.assembly_flight {
    fill: white;
    font-family: sans-serif;
    font-size: .9vw;
}

.sidebar text.launch_vehicle {
    fill: white;
    font-family: sans-serif;
    font-size: .9vw;
}

.sidebar text.launch_date {
    fill: white;
    font-family: sans-serif;
    font-size: .9vw;
}

.tooltip rect {
    fill: #1B2631;
    stroke: white;
    pointer-events:none;
}

text {
    fill: white;
    font-family: sans-serif;
    font-size: 1.3em;
    pointer-events:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.module_highlighted image {
    filter: invert(0) sepia(1) saturate(3) hue-rotate(16deg);
}

.module_selected image {
    filter: invert(0) sepia(1) saturate(10) hue-rotate(16deg);
}

svg.globe {
    margin: 0;
    position: absolute;
    left: 50%;
    background-color: transparent;
    transform-origin: top center;
    pointer-events:none;
}

div.vis_slider {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

.vis_slider p {
    position: relative;
    right: 100px;
    font-family: Sans-Serif; 
    font-size: 18px;
    color: white;
}

.switch {
  position: relative;
  top: -45px;
  left: 50px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}