.axes path {
    stroke: red;
    stroke-width: 4;
}

.axes text {
    fill: red;
    text-shadow:    -1px 1px 0 #000,
                    1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
}